# This is a client (initiator)
[DEFAULT]
DefaultApplVerID=FIX.4.4
ConnectionType=initiator
FileLogPath=./Logs/
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
ReconnectInterval=60
LogoutTimeout=5
LogonTimeout=30
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
SendRedundantResendRequests=Y
# RefreshOnLogon=Y
SocketNodelay=N
# PersistMessages=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
# CheckLatency=Y


# session definition
[SESSION]
BeginString=FIX.4.4
SenderCompID=TESTINI
TargetCompID=TESTACC
HeartBtInt=10
SocketConnectPort=3000
SocketConnectHost=127.0.0.1
DataDictionary=./spec/TT-FIX44.xml
FileStorePath=./Sessions/
